body{
    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
}

header {
      border-bottom: solid 2px rosybrown(42, 122, 228);
      padding: 20px;
      font-size: 32px;
      color: brown(42, 122, 228);
}

section{
    background-color: blue(117,112,112);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}